:: range is wrong

ipaddrJs.parse("::").range() returning 'unspecified' instead of 'loopback'

Because it's not loopback. The loopback address (there's only a single one in IPv6) is `::1`. `::` is precisely unspecified.

Chrome considers [::] as loopback
![alt text](https://image.ibb.co/i548HT/gscreenshot_2018_07_10_121442.png)

[RFC3513 section 2.5.2](https://tools.ietf.org/html/rfc3513#section-2.5.2) says `::` is the unspecified address. That the Linux stack happens to route it to localhost is irrelevant.

Cool :+1: 